In [2]:
import pandas as pd

# Read CSV file into a dataframe
df = pd.read_csv('/Users/barrettdowns/NFL_draft/data/dataset_complete.csv')

# Print the shape of the dataframe
print('Dataframe Shape:', df.shape)

/var/folders/ld/0hcmkkd579jg2qdnpb2n27dw0000gn/T/ipykernel_34882/3248378682.py:4: DtypeWarning: Columns (13,170) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/barrettdowns/NFL_draft/data/dataset_complete.csv')

Dataframe Shape: (305591, 175)

In [4]:
df.head()

,score_home,score_away,fog_or_haze,avg_temp,avg_dewpoint,avg_humidity,avg_wind,max_windgust,windchill,windchill_gust,...,total_home_raw_yac_wpa,total_away_raw_yac_wpa,return_team,return_yards,replay_or_challenge,replay_or_challenge_result,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,13,10,0.0,59.5,49.25,69.25,6.0,0.0,0.0,0.0,...,0.033038,-0.033038,NaN,0.0,0,NaN,0.0,0.0,0.0,0.0
1,13,10,0.0,59.5,49.25,69.25,6.0,0.0,0.0,0.0,...,0.033038,-0.033038,NaN,0.0,0,NaN,0.0,0.0,0.0,0.0
2,13,10,0.0,59.5,49.25,69.25,6.0,0.0,0.0,0.0,...,-0.126463,0.126463,NaN,0.0,0,NaN,0.0,0.0,0.0,0.0
3,13,10,0.0,59.5,49.25,69.25,6.0,0.0,0.0,0.0,...,-0.126463,0.126463,NaN,0.0,0,NaN,0.0,0.0,0.0,0.0
4,13,10,0.0,59.5,49.25,69.25,6.0,0.0,0.0,0.0,...,-0.126463,0.126463,NaN,0.0,0,NaN,0.0,0.0,0.0,0.0

In [5]:
import pandas as pd

# Read CSV file into a dataframe
df = pd.read_csv('/Users/barrettdowns/NFL_draft/data/dataset_complete3.csv')

# Print the shape of the dataframe
print('Dataframe Shape:', df.shape)

/var/folders/ld/0hcmkkd579jg2qdnpb2n27dw0000gn/T/ipykernel_34882/3980560362.py:4: DtypeWarning: Columns (24,141,265,266,267,268,273,274,277,278,289,290,293,294,302,303,304,317,318,319,325,326,330,331,332,337,339,340,348) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/barrettdowns/NFL_draft/data/dataset_complete3.csv')

Dataframe Shape: (305591, 354)